# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # 定时执行，Runs at 17:00 UTC every day
    - cron:  '0 17 * * *'
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: git pull
    - run: node main.js
    - name: Commit files
      run: |
         git config --local user.email "liumingedwin@qq.com"
         git config --local user.name "botiron"
         git remote set-url --add oorigin https://${{ github.actor }}:${{ secrets.MY_GIT_TOKEN }}@github.com/${{ github.repository }}
         git checkout sync
         git pull
         git add *.xml
         git commit -m "Upload Sync"
         git push oorigin sync
